
nav.tabs {
    color: #fff;
    text-align: center;
  }
  
  nav {
    height: 0px;
  }
  
  nav ul {
    padding: 0;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
    margin: 20px;
  }
  
  nav a:hover {
    color: #feda56;
  }
  
  
  /* Media query for mobile devices */
  @media screen and (max-width: 767px) {
   
    nav.tabs {
      flex-direction: column;
      align-items: center;
    }
  
    nav ul {
      margin-top: 40px;
      padding-left: 40px;
      padding-right: 40px;
    }
  
    nav a {
      margin-bottom: 10px;
    }
  
  }
  
  /* Media query for tablets */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
   
    nav.tabs {
      flex-direction: column;
      align-items: center;
    }
  
    nav ul {
      margin-top: 10px;
      padding: 0;
      margin-bottom: -96px;
    }
  
    nav a {
      margin: 0;
      font-size: larger;
      padding: 0 30px 0 30px;
    }
  
  }
  