
.project-heading {
  margin: 80px;
}
section#projects {
  background: black;
  font-family: Verdana, sans-serif;
  color: white;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 100vh;
  width: 100%;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.inner {
  border-radius: 10px;
  padding: 20px;
  width: 210px;
  height: 150px;
  background: rgb(26, 26, 26);
  transition: background 300ms ease-in-out;
  width: 100%;
  text-align: left;
}

.inner p {
  width: 95%;
}

.card {
  background: rgb(128 128 128 / 0.2);
  width: 70%;
  height: 170px;
  margin: 30px auto; /* Updated to use auto margins for centering */
  padding: 3px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.card:hover > .inner {
  background: rgb(26, 26, 26, 0.6);
  backdrop-filter: blur(80px);
}

.blob {
  filter: blur(40px);
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: rgb(255, 255, 255, 0.5);
  z-index: -1;
}

.card:hover > .blob {
  transform: translate(30%, 30%); /* Adjust the values as needed for the desired movement */
}


.fakeblob {
  display: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: -1;
}

/* Media query for mobile devices */
@media screen and (max-width: 767px) {
  .project-heading {
    margin-top: 20%;
    text-align: center;
    font-size: 24px;
  }

  section#projects {
    flex-direction: column;
    margin-top: 20px;
    position: relative;
  }
  .inner {
    height: fit-content;
    text-align: justify;
    padding: 0;
  }

  .inner p {
    font-size: 16px;
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 20px;
  }

  .inner h1 {
    font-size: 22px;
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 20px;
    text-align: left;
  }

  .card {
    width: 85%;
    margin: 0;
    height: fit-content;
    padding: 1px;
    position: relative;
    left: 25px;
    margin-top: 25px;
  }

  .blob,
  .fakeblob {
    width: 150px;
    height: 150px;
  }
}

/* Media query for tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .inner {
    width: 100%;
  }

  .card {
    width: 90%;
    height: fit-content;
    margin-left: 35px;
  }

  .blob,
  .fakeblob {
    width: 200px;
    height: 200px;
  }
}
