.my-timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
  }
  
  .timeline-heading {
    margin: 10% 0 -3% 12.5%;
  }
  
  .my-container {
    padding: 32px 50px;
    position: relative;
    width: 40%;
    opacity: 1;
  }
  
  .text-box {
    padding: 10px 20px;
    position: relative;
    font-size: 16px;
    color: white;
    font-weight: 400;
    background-color: #2b2b2b;
    border: 2px solid white;
    filter: drop-shadow(0px 0px 20px rgba(190, 190, 190, 0.25));
    border-radius: 15px;
    opacity: 0.9;
  }
  
  .left-container {
    left: 1%;
  }
  
  .right-container {
    left: 50%;
  }
  
  .text-box:hover {
    background-color: rgb(26, 26, 26);
    transition: 1s;
    opacity: 1;
  }
  
  .my-container h5 {
    position: absolute;
    color: #feda56;
    text-align: center;
    font-family: "Lato";
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    right: -162px;
    top: 30%;
  }
  
  .right-container h5 {
    left: -995px;
  }
  
  .timeline-line {
    position: absolute;
    width: 4px;
    background-color: #fff;
    top: 0;
    left: 50%;
    margin-left: -2px;
    z-index: 1;
    height: 0;
    transition: height 0.5s ease;
  }
  
  .timeline-image {
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    left: 46%;
    width: 100px;
    height: 100px;
    transition: top 0.5s ease;
    top: 0;
  }
  
  .my-timeline::after {
    content: "";
    position: absolute;
    width: 4px;
    top: 0;
    left: 50%;
    margin-left: -2px;
    z-index: -1;
    height: 100%;
  }
  
  .timeline-image:hover {
    transition: 1s;
    transform: scale(1.3);
  }
  
  .tooltip {
    visibility: hidden;
    font-size: 22px;
    width: fit-content;
    height: fit-content;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 15px 15px 15px 15px;
    position: absolute;
    z-index: 1;
    top: 102%;
    left: 31%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .timeline-image-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transition: 1s;
  }
  
  /* Media query for mobile devices */
  @media screen and (max-width: 767px) {
    .timeline-heading {
      text-align: center;
      margin: 30% 5% -15% 5%;
      font-size: 24px;
    }
    .my-container {
      width: 100%;
      margin-left: 0;
    }
  
    .left-container,
    .right-container {
      left: 0;
    }
  
    .my-container h5 {
      right: auto;
      left: 67%;
      transform: translateX(-50%);
      top: 80px;
      font-size: smaller;
    }
  
    .timeline-line {
      left: 70%;
      transform: translateX(-2px);
    }
  
    .text-box {
      width: 150px;
      margin-left: -30px;
      position: relative;
      font-size: 13px;
      color: white;
      background-color: #3f3f3f;
      border: 2px solid white;
      filter: drop-shadow(0px 0px 20px rgba(190, 190, 190, 0.25));
      border-radius: 15px;
    }
  
    .timeline-image {
      height: 60px;
      width: 60px;
      margin-left: 55px;
    }
  
    .tooltip {
      visibility: hidden;
      font-size: 15px;
      width: fit-content;
      height: fit-content;
      background-color: #333;
      color: #fff;
      text-align: center;
      border-radius: 8px;
      padding: 10px 10px 10px 10px;
      position: absolute;
      z-index: 1;
      top: 101%;
      left: 30%;
      transform: translateX(-50%);
      opacity: 0;
      transition: opacity 0.3s;
    }
  }
  
  /* Media query for tablets */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .my-container {
      width: 100%;
      margin-left: 0;
    }
  
    .left-container,
    .right-container {
      left: 50px;
    }
  
    .timeline-heading {
      margin: 15% 0 -10% 10%;
    }
    .my-container h5 {
      right: auto;
      left: 67%;
      transform: translateX(-50%);
      top: 50px;
      font-size: smaller;
    }
  
    .timeline-line {
      left: 70%;
      transform: translateX(-2px);
    }
  
    .text-box {
      width: 400px;
      margin-left: -30px;
      position: relative;
      font-size: 15px;
      color: white;
      background-color: #3f3f3f;
      border: 2px solid white;
      filter: drop-shadow(0px 0px 20px rgba(190, 190, 190, 0.25));
      border-radius: 15px;
    }
  
    .timeline-image {
      height: 60px;
      width: 60px;
      margin-left: 165px;
    }
  
    .tooltip {
      visibility: hidden;
      font-size: 16px;
      width: fit-content;
      height: fit-content;
      background-color: #333;
      color: #fff;
      text-align: center;
      border-radius: 8px;
      padding: 15px 15px 15px 15px;
      position: absolute;
      z-index: 1;
      top: 101%;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      transition: opacity 0.3s;
    }
  }
  